<nav class="navbar nav">
  <img src="../../../assets/img/logo.png" width="50" height="50" alt="">
  <div class="form-inline my-2 my-lg-0 input-search">
  </div>
</nav>
<div class="container">
  <div class="grid-cards">
    <div class="row cards" *ngFor="let data of pokemon">
      <div class="card card-detail" style="width: 18rem;">
        <div>
          <img class="card-img-top" src="{{data.images.large}}" alt="Card image cap">
          <h5 class="card-title">{{data.name}} #{{data.id}}</h5>
          <p>{{data.types}}</p>

        </div>
        <div class="card-body card">
          <div class="attributes" *ngFor="let atk of data.attacks">
            <p><b>{{atk.name}}</b></p>
            <p>Mana: {{atk.convertedEnergyCost}}</p>
            <p>Dano: {{atk.damage}}</p>
            <p>Descrição: {{atk.text}}</p>
          </div>
          <p *ngFor="let resist of data.resistances">Resistencia: {{resist.type}}</p>
          <p *ngFor="let weak of data.weaknesses">Fraqueza: {{weak.type}}</p>
          <a href="#" class="btn btn-primary">Voltar</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
