$cor-principal: #2e86de

body
  background-color: $cor-principal
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png")
  height: 100%
  background-repeat: no-repeat
  background-attachment: fixed
  @media (min-width: 500px)
    background-size: cover

.nav
  color: #fff
  background-color: #2e86de
  border-bottom-color: #54a0ff
  border-bottom-width: 1px
  border-bottom-style: solid
  margin-bottom: 2%
